#game-container {
  background-color: #f5f5f5;
  font-family: 'Arial', sans-serif;
  position: relative;
  min-height: 100vh;
  background-image: url('../../../public/img/enchanted_forest.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;

  font-family: Papyrus, Georgia, Arial;
  font-size: 1.25rem;
}

.header {
  background: linear-gradient(to right, #333, #555, #333);
  padding: 5px;
  color: #fff;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.footer {
  background: linear-gradient(to right, #333, #555, #333);
  padding: 5px;
  color: #fff;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.header h1 {
  background-color: transparent;
  padding: 5px;
  color: #fff;
}

.footer p {
  background-color: transparent;
  padding: 5px;
  color: #fff;
  margin: 0;
}

#game-content {
  flex-grow: 1;
  position: relative;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
}

#game-menu{
  background-image: radial-gradient(circle, #D3D8C9, #B2946E);
}

#game-stats,
#game-scene,
#game-menu {
  width: 50vw;
}

#main-content{
  background-image: radial-gradient(circle, #D3D8C9, #B2946E);
}

#game-scene {
  padding: 1vh;
}

.button-outline{
  background: url('../../../public/img/button_outline.png'), radial-gradient(circle, #D3D8C9, #B2946E);
  background-size: cover;
  background-position: center;

  border: none;
  outline: none;
  cursor: pointer;

  border-radius: 50%;
  height: 12vh;
  width: 12vh;
  
  font-weight: bold;
  font-size: 1rem;
  padding: 1vh 1vw;
}

.fancy-border{
  height: 3vh;
  background-image: url('../../../public/img/border.png');
  background-size: cover;
  background-position: center;
}

.flex-col-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 800px) {
  .header, .footer {
    padding: 5px;
  }

  .header h1 {
    padding: 5px;
  }

  .footer p {
    padding: 5px;
  }

  #game-content {
    gap: 1vh;
    padding: 5px;
  }

  #game-stats,
  #game-scene,
  #game-menu {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #eee;
  }

  #game-scene {
    max-width: 100%;
    padding: 1vh;
  }

  #game-menu button{
    height: 23vh;
    width: 23vh;
  }
}

@media (max-height: 600px){
  #game-menu button{
    font-size: 1.25rem;
  }
}
