:root {
  --navBarHeight: 12.5vh;
}

.nav-bar-img{
  height: var(--navBarHeight);
}

body{
  font-family: Georgia, "Times New Roman", Times, serif
}


#nav-bar{
  height: var(--navBarHeight);
  padding: auto 2vh auto 0vw;
}

#img-container{
  position: relative;
  background-image: url('../../../public/img/greyScale.jpg');
  background-size: cover;
  background-position: center;
  height: 78vh;
  width: 100%; 
}
